@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";

 
.icon{font-family: 'Glyphicons Halflings';}

.glyphicon {
  position: relative;  
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin:0px 10px;
  }

$container_width:992px; 
$bar_height:500px;

 $doc_padding:30px;

$nav_background:#111;
$nav_text:#eee;

.navbar-default{
	background-color:$nav_background;
}

.navbar-default .navbar-brand {
	color: $nav_text;
}

h1, h2, h3, h4, {font-family:'Open Sans'; font-weight:300;}

#brand{
	font-family:"Lora", "Open Sans";
	font-weight:bold;
}


.green{color:#87CC81;}

/*-------------------
	Bootstrap Override
---------------------*/

.clearfloat{ 
    clear: both;
    width:100%;
    font-size:1px;
}
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html,body{
	min-height:100%;
}

/*-------------------
	End Overrides
---------------------*/

/*-------------------
	Feed
---------------------*/

.feed{
	padding-left:3px;
	padding-right:3px;
	.feed-item{
		padding-left:20px;
		padding-right:20px;
		.title{margin-top:0;}
		.img-wrapper{width:97%;max-height:100px;display:inline-block;overflow:hidden;}
		img{
			border:solid 3px #eee;width:100%;
			@media (max-width: $container_width){
			
			}
		
		}

		.left{float:left;}
		.right{float:right;}
		.well{margin-top:6px;}
		.directions{position:relative;top:-4px;}
		button{margin:0 5px;}
		button:last-child{margin-right:0px;}
		 
		
		border-top:solid 1px #ddd; 
		&:first-child{border-top:none;padding-top:0;}
		&:last-child{padding-bottom:0;}
		
		overflow:hidden;
		transition:all 1s;
		max-height:0;
		padding-top:0;
		padding-bottom:0;
		&.in{
			max-height:999px;
			padding-top:8px;
			padding-bottom:8px;
		}
	}
	
}
body{padding-bottom:50px;}
button.right{float:right;position:relative;right:30px;bottom:10px;margin-left:10px;}

/*-------------------
	End Feed
---------------------*/

/*-------------------
	Foot
---------------------*/
@media (max-width: $container_width){

}
#points{
	font-size:15pt;
	margin-top:10px;
	margin-bottom:10px;
}
#share{
	a{
		display:inline-block;
		margin:0 4px;
	}
}

footer{
	background-color:#f3f3f3;
	box-sizing: border-box;
	ul{
		list-style:none;
	}
	position:fixed;
	bottom:0px;
	&.row{
	margin-left:0px;
	margin-right:0px;
	}
	width:100%;
	overflow:auto;
	
	.left{text-align:left;
		em,span{display:inline-block;margin-right:10px;}
	}
	.right{text-align:right;}
	padding-top:.2em;
	
	& > ul{
		padding-top:10px;
	}
	
	@media (max-height: $bar_height){
		/*position:static;*/
	}
}

/*-------------------
	End Foot
---------------------*/




