mixin feed-item(item,i)
	li.feed-item.row
		div.col-xs-3
			img(src=item.media.src)
		div.col-xs-9
			h2=item.name
			p
				span=item.distance
				span=item.whenFormatted()

mixin feed(acts)
	ul.feed.list-unstyled
		- each item,i in acts
			+feed-item(item,i)