mixin feed-item(item,i)
	li.feed-item.row
		div.col-xs-3
			img(src=item.media.src)
		div.col-xs-9
			h3.title=item.name
			p.left
				span=item.distance
				em=item.whenFormatted()
			div.right
				a.btn.btn-default Commit
mixin feed(acts)
	ul.feed.list-unstyled
		- each item,i in acts
			+feed-item(item,i)