extends ../_inc/_layout

block content
	section#about_app.about
		div.container
			div.row
				
				.col-md-4
					.content_done
						.row
							.col-md-3
								.icon
									i.fa.fa-group
							.col-md-9
								h2 Get Involved.
								p
									| Browse local elections, city council meetings, and public hearings so that you can take part and have a direct impact on society.
				.col-md-4
					.content_done
						.row
							.col-md-3
								.icon
									i.fa.fa-comments
							.col-md-9
								h2 Spark Conversation.
								p
									| MuniciPlanner makes it easy to share events you're attending across all your networks to help get your friends involved in local government.
				.col-md-4
					.content_done
						.row
							.col-md-3
								.icon
									i.fa.fa-bar-chart-o
							.col-md-9
								h2 Track Engagement. 
								p
									| With MuniciPlanner, staying up to date with election and meeting vote results has never been easier. Track how you and your friends have made a difference over time.
