/* line 7, scss/site.scss */
.icon {
  font-family: 'Glyphicons Halflings';
}

/* line 9, scss/site.scss */
.glyphicon {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0px 10px;
}

/* line 28, scss/site.scss */
.navbar-default {
  background-color: #111111;
}

/* line 32, scss/site.scss */
.navbar-default .navbar-brand {
  color: #eeeeee;
}

/* line 36, scss/site.scss */
h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-weight: 300;
}

/* line 38, scss/site.scss */
#brand {
  font-family: "Lora", "Open Sans";
  font-weight: bold;
}

/* line 44, scss/site.scss */
.green {
  color: #87CC81;
}

/*-------------------
	Bootstrap Override
---------------------*/
/* line 50, scss/site.scss */
.clearfloat {
  clear: both;
  width: 100%;
  font-size: 1px;
}

/* line 57, scss/site.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 62, scss/site.scss */
html, body {
  min-height: 100%;
}

/*-------------------
	End Overrides
---------------------*/
/*-------------------
	Feed
---------------------*/
/* line 74, scss/site.scss */
.feed {
  padding-left: 3px;
  padding-right: 3px;
}
/* line 77, scss/site.scss */
.feed .feed-item {
  padding-left: 20px;
  padding-right: 20px;
  border-top: solid 1px #ddd;
  overflow: hidden;
  transition: all 1s;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 80, scss/site.scss */
.feed .feed-item .title {
  margin-top: 0;
}
/* line 81, scss/site.scss */
.feed .feed-item .img-wrapper {
  width: 97%;
  max-height: 100px;
  display: inline-block;
  overflow: hidden;
}
/* line 82, scss/site.scss */
.feed .feed-item img {
  border: solid 3px #eee;
  width: 100%;
}
/* line 90, scss/site.scss */
.feed .feed-item .left {
  float: left;
}
/* line 91, scss/site.scss */
.feed .feed-item .right {
  float: right;
}
/* line 92, scss/site.scss */
.feed .feed-item .well {
  margin-top: 6px;
}
/* line 93, scss/site.scss */
.feed .feed-item .directions {
  position: relative;
  top: -4px;
}
/* line 94, scss/site.scss */
.feed .feed-item button {
  margin: 0 5px;
}
/* line 95, scss/site.scss */
.feed .feed-item button:last-child {
  margin-right: 0px;
}
/* line 99, scss/site.scss */
.feed .feed-item:first-child {
  border-top: none;
  padding-top: 0;
}
/* line 100, scss/site.scss */
.feed .feed-item:last-child {
  padding-bottom: 0;
}
/* line 107, scss/site.scss */
.feed .feed-item.in {
  max-height: 999px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 115, scss/site.scss */
body {
  padding-bottom: 50px;
}

/* line 116, scss/site.scss */
button.right {
  float: right;
  position: relative;
  right: 30px;
  bottom: 10px;
  margin-left: 10px;
}

/* line 117, scss/site.scss */
button.left {
  float: left;
  position: relative;
  left: 30px;
  bottom: 10px;
  margin-right: 40px;
}

/* line 118, scss/site.scss */
#filters {
  margin-top: 10px;
}

/* line 119, scss/site.scss */
.checkbox.left {
  float: float;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 4px;
  position: relative;
  left: 10px;
  bottom: 10px;
  border: solid 1px #ddd;
  padding: 4px;
  border-radius: 3px;
  padding-left: 30px;
}

/*-------------------
	End Feed
---------------------*/
/*-------------------
	Foot
---------------------*/
/* line 132, scss/site.scss */
#points {
  font-size: 15pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 138, scss/site.scss */
#share a {
  display: inline-block;
  margin: 0 4px;
}

/* line 144, scss/site.scss */
footer {
  background-color: #f3f3f3;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: auto;
  padding-top: .2em;
}
/* line 147, scss/site.scss */
footer ul {
  list-style: none;
}
/* line 152, scss/site.scss */
footer.row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 159, scss/site.scss */
footer .left {
  text-align: left;
}
/* line 160, scss/site.scss */
footer .left em, footer .left span {
  display: inline-block;
  margin-right: 10px;
}
/* line 162, scss/site.scss */
footer .right {
  text-align: right;
}
/* line 165, scss/site.scss */
footer > ul {
  padding-top: 10px;
}
@media (max-height: 500px) {
  /* line 144, scss/site.scss */
  footer {
    /*position:static;*/
  }
}

/*-------------------
	End Foot
---------------------*/
