/* line 7, scss/site.scss */
.icon {
  font-family: 'Glyphicons Halflings';
}

/* line 9, scss/site.scss */
.glyphicon {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/*-------------------
	Bootstrap Override
---------------------*/
/* line 28, scss/site.scss */
.clearfloat {
  clear: both;
  width: 100%;
  font-size: 1px;
}

/* line 35, scss/site.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 40, scss/site.scss */
html, body {
  min-height: 100%;
}

/*-------------------
	End Overrides
---------------------*/
/*-------------------
	Feed
---------------------*/
/* line 52, scss/site.scss */
.feed {
  padding-left: 3px;
  padding-right: 3px;
}
/* line 55, scss/site.scss */
.feed .feed-item {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: solid 1px #ddd;
}
/* line 56, scss/site.scss */
.feed .feed-item .title {
  margin-top: 0;
}
/* line 57, scss/site.scss */
.feed .feed-item img {
  width: 97%;
  border: solid 3px #eee;
}
/* line 62, scss/site.scss */
.feed .feed-item:first-child {
  border-top: none;
  padding-top: 0;
}
/* line 63, scss/site.scss */
.feed .feed-item:last-child {
  padding-bottom: 0;
}

/*-------------------
	End Feed
---------------------*/
/*-------------------
	Foot
---------------------*/
/* line 79, scss/site.scss */
footer {
  background-color: #f3f3f3;
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: auto;
  padding-top: .2em;
}
/* line 82, scss/site.scss */
footer ul {
  list-style: none;
}
/* line 87, scss/site.scss */
footer.row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 94, scss/site.scss */
footer .left {
  text-align: left;
}
/* line 95, scss/site.scss */
footer .right {
  text-align: right;
}
/* line 98, scss/site.scss */
footer > ul {
  padding-top: 10px;
}
@media (max-height: 500px) {
  /* line 79, scss/site.scss */
  footer {
    /*position:static;*/
  }
}

/*-------------------
	End Foot
---------------------*/
